@charset "UTF-8";
/* Подключение глобальных стилей */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #14141A;
}

.container {
  max-width: 1217px;
  margin: 0 auto;
}

.title__divider {
  margin-top: 18px;
  display: flex;
}
.title__divider--red {
  width: 100px;
  height: 1px;
  background: #C31E39;
}
.title__divider--black {
  width: 350px;
  height: 1px;
  background: #000;
}

.title {
  text-transform: uppercase;
  color: #242424;
  font-size: 40px;
  line-height: 51px;
  letter-spacing: 1.8px;
}

.button {
  cursor: pointer;
}

.another-header {
  border: 1px solid #D0D0D0;
}

/* Подключение секции header */
.header {
  border-top: 10px solid #C31E39;
  background: #F2E8E4;
}
.header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .main-nav__logo {
  background: #fff;
  padding: 22px 79px 14px 33px;
  margin-left: -110px;
}
.header .main-nav__list {
  display: flex;
  align-items: center;
}
.header .main-nav__link {
  padding: 15px;
  color: #000;
  font-size: 18px;
  transition: 0.1s;
}
.header .main-nav__link:hover {
  font-weight: 700;
}
.header .main-nav__link:active {
  color: #C31E39;
}
.header .main-nav__link--active {
  position: relative;
  color: #C31E39;
}
.header .main-nav__link--active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #C31E39;
  bottom: 10px;
  left: 15px;
}

/* Подключение секции promo */
.promo {
  padding-top: 190px;
  border-top: 2px solid #fff;
  min-height: 640px;
  background: #F2E8E4;
}
.promo__wrapper {
  position: relative;
}
.promo__img {
  position: absolute;
  left: 400px;
  top: -46px;
}
.promo__hashtag {
  text-transform: uppercase;
  color: #C31E39;
  font-size: 14px;
}
.promo__title {
  text-transform: uppercase;
  margin: 10px 0 66px;
  color: #242424;
  font-size: 40px;
  line-height: 51px;
  letter-spacing: 1.8px;
}
.promo__descr {
  font-size: 20px;
  color: #8E7B5B;
  font-weight: 300;
  max-width: 400px;
  line-height: 30px;
}
.promo__btn {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 960px;
  top: 403px;
}
.promo__btn--arrow {
  margin-left: 16px;
}
.promo__btn:hover {
  font-weight: 700;
}

/* Подключение секции memory-map */
.sight {
  margin-top: 147px;
}
.sight__list {
  margin: 80px 0 88px;
  display: flex;
  justify-content: space-between;
}
.sight__item {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.sight__item:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.sight__item:hover .sight__name {
  font-weight: 700;
}
.sight__item:active {
  opacity: 0.3;
  transition: 0s;
}
.sight__link {
  background: none;
  border: 1px solid #F1F2F8;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 35px;
}
.sight__link--active {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.sight__link--active .sight__name {
  color: #C31E39;
}
.sight__link--active .sight__icon {
  display: none;
}
.sight__link--active .sight__icon--active {
  display: block;
}
.sight__icon--active {
  display: none;
}
.sight__name {
  margin-left: 24px;
  font-size: 16px;
}
.sight__btn--more {
  font-size: 16px;
}
.sight__btn--more:hover {
  font-weight: 700;
}
.sight__btn--more:active {
  opacity: 0.3;
  transition: 0s;
}
.sight__map {
  display: block;
  margin: 0 auto;
}

.obgects {
  margin-top: 88px;
}
.obgects__title {
  margin-bottom: 32px;
}
.obgects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.obgects__item {
  display: flex;
  align-items: center;
  padding: 24px;
  border: 1px solid #F1F2F8;
  border-radius: 15px;
  background: #fff;
  margin-bottom: 16px;
}
.obgects__descr {
  width: 456px;
}
.obgects__link {
  color: #9B886C;
}
.obgects__link:active {
  color: #635643;
}
.obgects__control {
  display: flex;
  margin-top: 48px;
  justify-content: end;
  align-items: center;
}
.obgects__toggle {
  margin-left: 48px;
}
.obgects__toggle--left {
  margin-right: 32px;
}
.obgects__toggle--right {
  background: #A8A8A8;
  box-shadow: 5px 20px 40px rgba(20, 20, 26, 0.2);
}
.obgects__toggle--left, .obgects__toggle--right {
  border-radius: 50%;
  border: 1px solid #D1D1D1;
  padding: 24px;
  cursor: pointer;
  transition: 0.2s;
}
.obgects__toggle--left:hover, .obgects__toggle--right:hover {
  box-shadow: 5px 20px 40px rgba(20, 20, 26, 0.3);
}
.obgects__toggle--left:active, .obgects__toggle--right:active {
  opacity: 0.6;
}

.pagination__list {
  display: flex;
}

.pagination__btn {
  font-size: 12px;
  background: #fff;
  border: 1px solid #DFDFDF;
  border-radius: 2px;
  padding: 10px 14px;
  cursor: pointer;
  margin-right: 16px;
  transition: 0.2s;
}
.pagination__btn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.pagination__btn:active {
  opacity: 0.6;
  transition: 0s;
}
.pagination__btn--active {
  background: #C31E39;
  color: #fff;
}
.pagination__btn:disabled {
  cursor: default;
}
.pagination__btn:disabled:hover {
  box-shadow: none;
}
.pagination__btn:disabled:active {
  opacity: 1;
}

/* Подключение секции service-partners */
.service-partners {
  margin: 80px 0 128px;
}
.service-partners__descr {
  margin: 47px 0 77px;
  width: 514px;
  color: #3F3B3B;
  line-height: 35px;
}
.service-partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-partners__link {
  width: 139px;
  height: 138px;
}
.service-partners__img {
  transition: 0.3s;
  filter: grayscale(1);
}
.service-partners__img:hover {
  filter: grayscale(0);
}
.service-partners__img:active {
  transition: 0.1s;
  opacity: 0.6;
}

/* Подключение секции footer */
.footer {
  min-height: 327px;
  background: #242424;
  padding-top: 106px;
}
.footer__title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 23px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__security-rights {
  width: 387px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.footer__tel-info {
  position: relative;
}
.footer__tel-info--title {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 6px;
}
.footer__tel-info--phone {
  color: #FFFFFF;
  font-weight: 700;
  transition: -webkit-text-decoration-line 0.3s;
  transition: text-decoration-line 0.3s;
  transition: text-decoration-line 0.3s, -webkit-text-decoration-line 0.3s;
}
.footer__tel-info--phone:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer__tel-info--img {
  position: absolute;
  top: -5px;
  left: -45px;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright:hover .footer__copyright--title {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer__copyright--title {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  width: 130px;
  margin-right: 14px;
}

/* Подключение секции find-soldier */
.breadcrumbs__list {
  display: flex;
  margin: 86px 0 18px;
}
.breadcrumbs__item {
  max-width: 207px;
  position: relative;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 15px;
}
.breadcrumbs__item::after {
  content: "/";
  position: absolute;
  right: -9px;
  color: #A8A8A8;
}
.breadcrumbs__link {
  color: #A8A8A8;
}
.breadcrumbs__item:last-child::after {
  display: none;
}

.find-soldier {
  margin-bottom: 160px;
}
.find-soldier__descr {
  color: #3F3B3B;
  margin-top: 47px;
  font-size: 18px;
  line-height: 35px;
  max-width: 506px;
}
.find-soldier__list {
  margin-top: 66px;
  display: flex;
  flex-wrap: wrap;
}
.find-soldier__item {
  position: relative;
  margin-bottom: 44px;
  margin-right: 44px;
  width: 376px;
  min-height: 389px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.find-soldier__item:nth-child(3n) {
  margin-right: 0;
}
.find-soldier__item:hover {
  box-shadow: 5px 30px 40px rgba(0, 0, 0, 0.4);
}
.find-soldier__link {
  display: block;
  padding: 58px 51px 30px 48px;
  width: 100%;
  height: 100%;
}
.find-soldier__img {
  margin-bottom: 30px;
}
.find-soldier__text {
  color: #14141A;
  line-height: 160%;
}
.find-soldier__arrow {
  position: absolute;
  bottom: 30px;
  right: 51px;
}

/* Подключение секции don-heroes */
.don-heroes {
  margin-bottom: 65px;
}
.don-heroes__descr {
  margin-top: 47px;
  max-width: 551px;
  color: #3F3B3B;
  font-size: 18px;
  line-height: 35px;
}
.don-heroes__list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.don-heroes__item {
  position: relative;
  width: 440px;
  min-height: 238px;
  transition: box-shadow 0.3s;
  border: none;
}
.don-heroes__item:nth-child(odd) {
  margin-right: 87px;
}
.don-heroes__item:hover {
  border: 1px solid #F1F2F8;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.don-heroes__item:hover .don-heroes__watch {
  opacity: 1;
}
.don-heroes__link {
  padding: 40px 43px 42px 37px;
  display: flex;
  width: 480px;
  min-height: 238px;
}
.don-heroes__name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 21px;
}
.don-heroes__surname {
  display: block;
  font-size: 24px;
}
.don-heroes__date {
  max-width: 225px;
  line-height: 160%;
}
.don-heroes__img {
  margin-right: 29px;
}
.don-heroes__watch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 20px;
  opacity: 0;
  transition: 0.8s;
}
.don-heroes__arrow {
  margin-left: 11px;
}

/* Подключение секции documents */
.documents__descr {
  margin-top: 47px;
  font-size: 18px;
  line-height: 35px;
  max-width: 522px;
  color: #3F3B3B;
}
.documents__list {
  margin-top: 47px;
  display: flex;
  flex-wrap: wrap;
}
.documents__link {
  display: flex;
}
.documents__img {
  margin-right: 20px;
}
.documents__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 17px;
  transition: box-shadow 0.3s;
}
.documents__item:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.documents__weight {
  color: #A8A8A8;
  line-height: 35px;
}/*# sourceMappingURL=style.css.map */